body{
    text-align: center;
    margin: 0;
}
.top-container {
    background-color: #E3FDFD;
    position: relative;
    margin: 0;
    padding-top: 100px;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud {
    position: absolute;
    top: 250px;
}

